.container {
	width: 1200px;
	margin: 0 auto;
}

.triangle-holder {
	transform: perspective(500px) translateZ(0);
	display: block;
	width: 100px;
	height: 120px;
	animation: floating 4s infinite ease-in-out;
	position: absolute;
}

.triangle-holder:before {
    content: '';
    display: block;
    position: absolute;
    width: 55px;
    height: 40px;
    background-color: red;
    top: 70px;
    left: 25px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: -1px 4px 25px 4px rgba(0,0,0,0.3);
	animation: floating-shadow 4s infinite ease-in-out;
    z-index: -1;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 100px 50px;
	border-color: transparent transparent #007bff transparent;
}

.triangle1 { top: 0; }
.triangle2 {top: 30px; right: 20px; transform:  perspective(500px) translateZ(0) rotate(35deg); }
.triangle2 .triangle { border-bottom-color: red; }
.triangle3 { top: 170px; left: 150px; }
.triangle3 .triangle { border-bottom-color: green; }
.triangle4 { top: 300px; left: 300px; }
.triangle4 .triangle { border-bottom-color: orange; }
.triangle5 { top: 450px; right: 100px;}
.triangle5 .triangle { border-bottom-color: purple; }
.triangle6 { top: 120px; right: 150px;}
.triangle6 .triangle { border-bottom-color: pink; }
.triangle7 { top: 450px; }
.triangle7 .triangle { border-bottom-color: lightgray; }

@keyframes floating {
	0% {
		transform: perspective(500px) translateZ(20px) translateY(0);
	}

	50% {
		transform: perspective(500px) translateZ(0) translateY(10px);
	}

	100% {
		transform: perspective(500px) translateZ(20px) translateY(0);
	}
}

@keyframes floating-shadow {
	0% {
		box-shadow: -1px 4px 25px 4px rgba(0,0,0,0.3);
	}

	50% {
		box-shadow: -1px 4px 25px 10px rgba(0,0,0,0.3);
	}

	100% {
		box-shadow: -1px 4px 25px 4px rgba(0,0,0,0.3);
	}
}