verde = #9bd93e
pink = #f60081
azul = #007fe3
cinza = #dadbdd
cinzaEscuro = #cecfd3
roxo = #a2007b
laranja = #ff8500

body
  margin 0
  padding 0

.super-logo-princi
  display flex
  justify-content center
  transform translateY(-80px)
  svg
    transform-origin bottom
    transition transform 1.5s
    overflow visible

    &.up
      transform perspective(70em) rotateX(0) translateX(40px) scaleX(0.75)

    .laranja
      fill laranja

    .azul
      fill azul

    .verde
      fill verde

    .pink
      fill pink

    .cinza
      fill cinza

    .cinzaEscuro
      fill cinzaEscuro

    .roxo
      fill roxo
