verde = #9bd93e
pink = #f60081
azul = #007fe3
cinza = #dadbdd
cinzaEscuro = #cecfd3
roxo = #a2007b
laranja = #ff8500

body
  margin 0
  padding 0


.super-logo-princi
  display flex
  justify-content center

  svg
    transform-origin bottom
    transition transform 1.5s
    overflow visible
    -webkit-transform: perspective(300px) rotateX(30deg)
    transform: perspective(300px) rotateX(30deg)

    .group
      transform translateY(60px) translateZ(50px)

    polygon
      &.lateral-direita
        transform translate(0px, 110px) skew(29deg, -21.5deg) scale(0.98)
      &.lateral-esquerda
        transform translate(32px, -59px) skew(-29deg, 21.5deg) scale(0.98)



    .tresD
      transform: scaleY(1);
      transform-origin: top;
      transition: transform 1.5s;

    &.angle
      /*transform perspective(70em) rotateX(50deg) translateX(40px) scaleX(0.75)*/
      transform perspective(70em) rotateX(-20deg) translateY(10px)
      .tresD
        transform: scaleY(0);

    &.up
      transform perspective(70em) rotateX(0) translateX(40px) scaleX(0.75)

    .laranja
      fill laranja

    .azul
      fill azul

    .verde
      fill verde

    .pink
      fill pink

    .cinza
      fill cinza

    .cinzaEscuro
      fill cinzaEscuro

    .roxo
      fill roxo
